html {
  scroll-behavior: smooth;
}

body {
  background-image: url('./Imagens/Extras/background2.webp');
}

.art {
  width: 100%; 
  max-width: 400px;
  position: center;
  display: block;
  margin: auto;
}

.ezaselect {
  position: center;
  display: block;
  margin: auto;
}

#ezaselectbox {
  transition: all 0.1s linear;
}

#ezaselectbox:hover {
  transform: scale(1.015);
}

.sidebutton {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 23px; 
  text-align: center; 
  margin: 10px;
}

.bigtext {
  color: yellow; 
  font-size: 25px;
  font-weight: bold;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 3px 2px #1f1f1f;
}

.headerimg, header div {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
}

header a {
  font-family: 'Agdasima', serif;
  font-size: 24px;
  color: #047573;
}

header a:hover {
  color: #16D0FF;
}

.fiveselection {
  border: 2px solid white;
  max-width: 70px; 
  width: 20%;
  transition: all 0.1s linear;
}

.fiveselection:hover {
  transform: scale(1.015);
}

.topbutton {
  text-decoration:none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: 2px solid #0e7994; 
  outline: none; 
  background-color: rgba(0, 0, 0, .5); 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px;
}

p {
  font-family: 'Agdasima', serif;
  font-size: 20px;
  color: white;
  text-align: left;
}

.sumario li .dropdown {
  width: 300px;
  max-width: 70%;
  background-color: rgba(0, 0, 0, .8);
  border: 3px solid #0e7994;
  position: absolute;
  display: none;
}

.sumario li:hover .dropdown {
  display: block;
}

.sumario {
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 22;
  color: #05D7D3;
}

.sumariol{
  color: #0070E0;
}

.sumariol:hover {
  color: #6ad7ff;
  
}

.celeb {
  transition: all 0.1s linear;
}

.celeb:hover {
  transform: scale(1.015);
}

.titlgold {
  background-color: rgba(21, 95, 23, 0.135);
  border: solid rgb(252, 244, 3) 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.titlpurple {
  background-color: rgba(21, 95, 23, 0.135);
  border: solid rgb(205, 67, 247) 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.teq {
  color: #0a9608;
  background-color: rgb(159, 205, 163); 
  border: solid rgba(17, 159, 24, 0.382) 5px; 
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-family: Oswald, serif; 
  font-weight: bold; 
  font-size: 23px;
  text-align: center;
}

.titlteq {
  background-color: rgba(21, 95, 23, 0.135);
  border: solid rgb(159, 205, 163) 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.teq {
  color: #0a9608;
  background-color: rgb(159, 205, 163); 
  border: solid rgba(17, 159, 24, 0.382) 5px; 
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-family: Oswald, serif; 
  font-weight: bold; 
  font-size: 23px;
  text-align: center;
}

.titlblank {
  background-color: rgba(53, 53, 53, 0.24);
  border: solid rgb(205, 205, 205) 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.blank {
  color: #424242;
  background-color: rgb(205, 205, 205);
  border: solid rgba(87, 87, 87, 0.382) 5px; 
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-family: Oswald, serif; 
  font-weight: bold; 
  font-size: 23px;
  text-align: center;
}

.titlint {
  background-color: rgba(49, 21, 95, 0.24);
  border: solid rgb(154, 118, 207) 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.int {
  color: #4f0896;
  background-color: rgb(154, 118, 207);
  border: solid rgba(86, 17, 159, 0.382) 5px; 
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-family: Oswald, serif; 
  font-weight: bold; 
  font-size: 23px;
  text-align: center;
}

.titlagl {
  background-color: rgba(21, 74, 95, 0.131);
  border: solid rgb(118, 140, 207) 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.agl {
  color: #0b348c;
  background-color: rgb(118, 140, 207);
  border: solid rgba(8, 44, 85, 0.382) 5px; 
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-family: Oswald, serif; 
  font-weight: bold; 
  font-size: 23px;
  text-align: center;
}

.titlstr {
  background-color: rgba(95, 21, 21, 0.185);
  border: solid rgb(229, 134, 134) 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.str {
  color: #bc1818;
  background-color: rgb(229, 137, 137); 
  border: solid rgba(159, 17, 17, 0.382) 5px; 
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-family: Oswald, serif; 
  font-weight: bold; 
  font-size: 23px;
  text-align: center;
}

.titlphy {
  background-color: rgba(94, 95, 21, 0.139);
  border: solid rgb(204, 207, 118) 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.phy {
  color: #72752c;
  background-color: rgb(204, 207, 118);
  border: solid rgba(71, 85, 8, 0.382) 5px; 
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-family: Oswald, serif; 
  font-weight: bold; 
  font-size: 23px;
  text-align: center;
}

h2 {
  font-family: 'Oswald', serif;
  font-weight: bold;
  font-size: 23px;
  color: #05D7D3;
}

.selecao {
  margin: 1px;
}

.imgselecao {
  background-image: url('./Assets/buttonback.png');
  background-position: center;
  background-size: cover;
  transition: all 0.1s linear;
}

.imgselecao:hover {
  filter: grayscale(25%);
  transform: scale(1.015);
}

.charicon {
  background-position: center;
  background-size: 140px;
  transition: all 0.1s linear;
}

.charicon:hover {
  transform: scale(1.055);
}

.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 1s ease
}

.logo:hover {
  transform: scale(1.075);
}

.explica {
  background-color: rgba(0, 0, 0, .5);
  border: 3px solid #0e7994;
  align-items: center;
  justify-content: center;
}

.voltar {
  width: 120px; 
  height: 70px;
  background-color: rgba(0, 0, 0, .5); 
  border: 2px solid #0e7994; 
  padding: 0px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: rgba(0, 0, 0, .3);
  border: 3px solid rgba(21, 190, 232, .3);
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

footer a, footer p {
  margin: 4%;
  color: white;
  font-family: 'Agdasima', serif;
  font-size: 22px;
}

footer a:hover, footer p:hover {
  color: #03fcec;
  text-shadow: 0px 0 #03fcec;
}

.linknetexto {
  color: #05b5b2;
}

.linknetexto:hover {
  color: #03fcec;
  text-shadow: 0px 0 #03fcec;
}

.menubtn {
  background-color: transparent;
  border: none;
}

.menu {
  position: relative;
  display: inline-block;
}

.menulinks {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, .8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menulinks a, .menulinks details {
  color: #05b5b2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menulinks a:hover {
  background-color: rgba(255, 255, 255, .4);
}

.menu:hover .menulinks {
  display: block;
}

.menu:hover .menubtn {
  filter: brightness(50%);
}