body {
  background-image: url('https://cdn.discordapp.com/attachments/801264378493009974/1142924686792081449/dokkan_battle_stylized_background_by_junereito_de3k8vk.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p {
  font-family: 'Agdasima', serif;
  font-size: 22px;
  color: white;
  text-align: left;
}

h2 {
  font-family: 'Oswald', serif;
  font-weight: bold;
  font-size: 23px; color: #05D7D3;
  }

.selecao {
  background-color: orange;
  color: black;
  border: 3px solid rgba(69, 69, 69);
  outline: none;
  cursor: pointer;
  padding: 0px 0px;
}

.selecao:hover {
  background-color: #a86c13;
  transform: scale(1.015);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}