body {
  background-image: url('https://i.postimg.cc/vTcBx3Qk/background.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

p {
  font-family: 'Agdasima', serif;
  font-size: 22px;
  color: white;
  text-align: left;
}

.voltar {
  width: 120px; 
  height: 70px;
  background-color: rgba(0, 0, 0, .5); 
  border: 2px solid #0e7994; 
  padding: 0px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.voltar:hover {
  border: 2px solid #16D0FF;
  transform: scale(1.015);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.linkne {
  color: #047573;
}

.linkne:hover {
  color: #03fcec;
  text-shadow: 0px 0 #03fcec;
}